on post-fs-data
    #/dev/ttyMT2 for Connectivity BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

    #/dev/ttyMT1 for GPS 3337 usage
    chmod 0660 /dev/ttyMT1
    chown system system /dev/ttyMT1

    # GPS
    mkdir /data/vendor/gps 0770 gps system
    mkdir /data/vendor/log 0770 gps system
    mkdir /data/vendor/log/gps 0770 gps system

    # GPS EMI
    chmod 0660 /dev/gps_emi

    # WiFi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi

    # BT relayer mode used VCOM
    chown bluetooth bluetooth /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

on boot
    # Connfem
    insmod /vendor/lib/modules/connfem.ko

on property:vendor.connsys.driver.ready=yes
    # Bluetooth
    insmod /vendor/lib/modules/bt_drv_${ro.vendor.bt.platform}.ko
    chown bluetooth bluetooth /proc/driver/bt_dbg

    # FM Radio
    insmod /vendor/lib/modules/fmradio_drv_${ro.vendor.fm.platform}.ko

    # GPS
    insmod /vendor/lib/modules/${ro.vendor.gps.chrdev}.ko

    # WMT
    insmod /vendor/lib/modules/wmt_drv.ko

    # WiFi
    insmod /vendor/lib/modules/${ro.vendor.wlan.chrdev}.ko
    insmod /vendor/lib/modules/wlan_drv_${ro.vendor.wlan.gen}.ko
    start wlan_assistant

on property:vendor.connsys.driver.ready=no
    # Bluetooth
    insmod /vendor/lib/modules/bt_drv_${ro.vendor.bt.platform}.ko
    chown bluetooth bluetooth /proc/driver/bt_dbg

# GPS
service mnld /vendor/bin/mnld
    class main
    user gps
    capabilities WAKE_ALARM
    group gps inet misc sdcard_rw sdcard_r media_rw system radio wakelock
    socket mnld stream 660 gps system

# WMT
service wmt_loader /vendor/bin/wmt_loader
    class early_hal
    user system
    group system
    oneshot

service wmt_launcher /vendor/bin/wmt_launcher -p /vendor/firmware/ -o 1
    class early_hal
    user system
    group system
