on post-fs
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "0 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "1 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "2 100"
    write /proc/perfmgr/boost_ctrl/eas_ctrl/boot_boost "3 100"

on init
    write /dev/cpuset/foreground/cpus 0-2,4-7
    write /dev/cpuset/foreground/boost/cpus 0-7
    write /dev/cpuset/background/cpus 0-2
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/top-app/cpus 0-7

on enable-low-power
    write /sys/devices/system/cpu/eas/enable 2
    write /proc/cpufreq/cpufreq_sched_disable 0

    chown system system /dev/stune/foreground/schedtune.prefer_idle
    chown system system /dev/stune/top-app/schedtune.prefer_idle
    chown system system /dev/stune/rt/schedtune.prefer_idle
    write /dev/stune/foreground/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.prefer_idle 0
    write /dev/stune/rt/schedtune.prefer_idle 0
    write /dev/stune/top-app/schedtune.boost 1
    write /proc/sys/kernel/sched_migration_cost_ns 200000

    # Enable PowerHAL hint processing
    setprop vendor.powerhal.init 1

on property:sys.boot_completed=1
    trigger enable-low-power
